@let items = educationList();

@switch (items.status) {
  @case ('loading') {
    <app-loading-circle></app-loading-circle>
  }
  @case ('error') {
    <app-network-error></app-network-error>
  }
  @case ('success') {
    <div class="showcase-section">
      @if (items.data.length > 0) {
        <div class="container">
          @for (education of items.data; track education.id) {
            <app-education-item class="flex-item" [education]="education"></app-education-item>
          }
        </div>
      } @else {
        <app-not-found></app-not-found>
      }

      <!--  <div class="button-margins">-->
      <!--    <a extended matFab routerLink="projects">-->
      <!--      <mat-icon>workspaces</mat-icon>-->
      <!--      <p>View All Realizations</p>-->
      <!--    </a>-->
      <!--  </div>-->

    </div>
  }
}
