<div class="showcase-section">
  @if (realizations().length > 0) {
    <div class="container">
      @for (realization of realizations(); track realization.id) {
        <app-realization-item class="flex-item" [realization]="realization"></app-realization-item>
      }
    </div>
  } @else {
    @if (realizations().length === 0) {
      <li>No items</li>
    } @else {
      <li>Loading…</li>
    }
  }

  <!--  <div class="button-margins">-->
  <!--    <a extended matFab routerLink="projects">-->
  <!--      <mat-icon>workspaces</mat-icon>-->
  <!--      <p>View All Realizations</p>-->
  <!--    </a>-->
  <!--  </div>-->

</div>

