.page {
  display: grid;
  place-items: center;
  position: relative;
}

.section-divider {
  width: 100%;
  margin: 20px 0;
}

.nav-link {
  display: grid;
  place-items: center;
  position: relative;
  margin: 20px
}

.icon-display {
  transform: scale(2);
}

.tabs {
  width: 100%;
  min-height: 800px;
}


.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-icon-margin {
  margin-right: 8px;
}

.tabs-labels {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-width: 100px;
}

.tabs-labels p {
  margin-block-end: 20px;
}
