.page {
  display: grid;
  place-items: center;
  position: relative;
}

.section-divider {
  width: 100%;
  margin: 20px 0;
}

.nav-link {
  display: grid;
  place-items: center;
  position: relative;
  margin: 20px
}

.icon-display {
  transform: scale(2);
}
