<section class="py-20" id="work">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold text-center mb-12">My Work</h2>

    <div class="tabs tabs-lifted tabs-lg justify-center mb-8" role="tablist">
      <input aria-label="Projects" checked class="tab" name="work_tabs" role="tab" type="radio" />
      <div class="tab-content bg-base-100 rounded-box p-6" role="tabpanel">
        <!-- Flex layout with centering: orphan items center nicely -->
        <div class="flex flex-row flex-wrap justify-center gap-4">
          @let projectItems = projects();
          @switch (projectItems.status) {
          @case ('loading') {
          <!--              TODO: Show loading indicator-->
          }
          @case ('success') {
          @if (projectItems.data.length > 0) {
          @for (project of projectItems.data; track project.id) {
          <app-project-item [project]="project"
            class="flex-1 min-w-full md:min-w-[calc(50%-0.5rem)] lg:min-w-[calc(33.333%-0.67rem)] md:max-w-[calc(50%-0.5rem)] lg:max-w-[calc(33.333%-0.67rem)]"></app-project-item>
          }
          } @else {
          <!--                  TODO: Show no projects message-->
          }
          }
          @case ('error') {
          <!--              TODO: Show error message-->
          }
          }
        </div>
      </div>


      <input aria-label="Realizations" class="tab" name="work_tabs" role="tab" type="radio" />
      <div class="tab-content bg-base-100 rounded-box p-6" role="tabpanel">
        <!-- Flex layout with centering: orphan items center nicely -->
        <div class="flex flex-row flex-wrap justify-center gap-4">
          @let realizationsItems = realizations();
          @switch (realizationsItems.status) {
          @case ('loading') {
          <!-- TODO: show loading state -->
          }
          @case ('success') {
          @if (realizationsItems.data.length > 0) {
          @for (realization of realizationsItems.data; track realization.id) {
          <app-realization-item [realization]="realization"
            class="flex-1 min-w-full md:min-w-[calc(50%-0.5rem)] lg:min-w-[calc(33.333%-0.67rem)] md:max-w-[calc(50%-0.5rem)] lg:max-w-[calc(33.333%-0.67rem)]"></app-realization-item>
          }
          } @else {
          <!-- TODO: show no realizations message -->
          }
          }
          @case ('error') {
          <!-- TODO: show error message -->
          }
          }
        </div>
      </div>
    </div>
  </div>
</section>