.about-me-container {
  text-align: center;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}

.about-me-text {
  line-height: 1.8 !important;
}
