<div class="card bg-base-100 shadow-2xl hover:bg-base-200 border border-base-300 h-full flex flex-col transition-all">
  <!-- thumbnail (if available) -->
  @if (realization.thumbnail) {
  <figure>
    <img [alt]="realization.title" [src]="realization.thumbnail | imageUrl" class="w-full h-48 object-cover">
  </figure>
  }

  <div class="card-body items-center text-center flex flex-col flex-1">
    <h3 class="card-title">{{ realization.title || 'Untitled' }}</h3>

    <p class="text-sm opacity-70">
      @if (realization.clientName) {
      <a [href]="clientUrl" class="underline" rel="noopener noreferrer" target="_blank">{{ realization.clientName }}</a>
      •
      }
      {{ year || '' }}
    </p>

    <p class="mt-2">{{ summary }}</p>

    <div class="flex gap-2 flex-wrap mt-4 justify-center">
      @for (tech of techList; track tech.id) {
      <div class="badge badge-accent badge-outline">{{ tech.name }}</div>
      }
    </div>

    <div class="card-actions justify-center mt-4">
      @if (clientUrl) {
      <a [href]="clientUrl" class="btn btn-primary" rel="noopener noreferrer" target="_blank">Visit Client</a>
      } @else {
      <button class="btn btn-primary">Learn More</button>
      }
    </div>
  </div>
</div>