<a [routerLink]="['/realization', realization.id]"
  class="card bg-base-200 shadow-2xl hover:bg-base-300 hover:-translate-y-2 border border-base-300 h-full flex flex-col">
  <!-- thumbnail (if available) -->
  @if (realization.thumbnail) {
  <figure>
    <img [alt]="realization.title" [src]="realization.thumbnail | imageUrl" class="w-full h-64 object-cover">
  </figure>
  }

  <div class="card-body items-center text-center flex flex-col flex-1">
    <h3 class="card-title">{{ realization.title || 'Untitled' }}</h3>

    <p class="text-sm opacity-70">
      @if (realization.clientName) {
      {{ realization.clientName }}
      •
      }
      {{ year || '' }}
    </p>

    <p class="mt-2">{{ summary }}</p>

    <div class="flex gap-2 flex-wrap mt-4 justify-center">
      @for (tech of techList; track tech.id) {
      <div class="badge badge-accent badge-outline">{{ tech.name }}</div>
      }
    </div>
  </div>
</a>