<app-hero-section
  [cardImage]="'/images/projects/projectsHero.png'"
  [cardSubtitle]="''"
  [cardTitle]=cardTitle
>
</app-hero-section>

<div class="showcase-section">
  @if (projects().length > 0) {
    <div class="container">
      @for (project of projects(); track project.id) {
        <app-project-item class="flex-item" [project]="project"></app-project-item>
      }
    </div>
  } @else {
    @if (projects().length === 0) {
      <li>No items</li>
    } @else {
      <li>Loading…</li>
    }
  }
</div>
