<app-hero-section
  cardImage="images/projects/projectsHero.png"
  cardSubtitle=""
  [cardTitle]=cardTitle
>
</app-hero-section>

@let items = projects();

@switch (items.status) {
  @case ('loading') {
    <!--TODO add loading component-->
  }
  @case ('success') {
    <div class="showcase-section">
      @if (items.data.length > 0) {
        <div class="container">
          @for (project of items.data; track project.id) {
            <app-project-item class="flex-item" [project]="project"></app-project-item>
          }
        </div>
      } @else {
        <!--TODO add no items component-->
      }
    </div>

  }
  @case ('error') {
    <!--TODO add error component-->
  }
}

<app-contact-section>
</app-contact-section>
