<app-hero-section
  [cardImage]="'/images/projects/projectsHero.png'"
  [cardSubtitle]="''"
  [cardTitle]=cardTitle
>
</app-hero-section>

<div class="showcase-section">
  @if (projects().length > 0) {
    <div class="container">
      @for (project of projects(); track project.id) {
        <app-item-card class="flex-item"
                       [title]="project.title"
                       [description]="project.shortDesc"
                       [thumbnail]="project.thumbnail"
                       [routerLink]="['/project', project.id]"
                       [chipSets]="[{type:'technologies', chips: project.technologies.map(mapTechnologyToChip)}]"

        ></app-item-card>
      }
    </div>
  } @else {
    @if (projects().length === 0) {
      <li>No items</li>
    } @else {
      <li>Loading…</li>
    }
  }
</div>
