<a [routerLink]="['/job', job.id]" [title]="job.title"
    class="card bg-base-100 image-full shadow-2xl hover:shadow-2xl hover:-translate-y-2 transition ease-in-out h-full min-h-64 overflow-hidden">
    @if (job.thumbnail) {
    <figure>
        <img [alt]="job.title" [src]="job.thumbnail | imageUrl" />
    </figure>
    }
    <div class="card-body before:absolute before:inset-0 before:bg-black/60 before:-z-10">
        <h3 class="card-title">{{ job.title }}</h3>
        <p class="text-lg">{{ job.companyName }}</p>
        <p class="text-base opacity-90">{{ job.location }}</p>
        <div class="flex gap-2 flex-wrap mt-4">
            @for (technology of job.technologies; track technology.id) {
            <div class="badge badge-accent badge-outline">{{ technology.name }}</div>
            }
        </div>
        <div class="card-actions justify-end mt-auto">
            <div class="badge badge-primary badge-sm">
                {{ job.startDate | date:'MMM yyyy' }} - {{ job.isCurrent ? 'Present' : (job.endDate | date:'MMM yyyy')
                }}
            </div>
        </div>
    </div>
</a>