<app-hero-section
  [cardImage]="thumbnail | imageUrl"
  [cardSubtitle]="subtitle"
  [cardTitle]=title
>

</app-hero-section>

<section class="showcase-section">
  <div class="project-details-container">

    @if (technologies && technologies.length > 0) {
      <div class="project-column">
        <h4 style="font: var(--mat-sys-title-large);" i18n="@@technologiesUsed">
          Technologies used:
        </h4>
        <mat-chip-set>
          @for (tech of technologies; track tech.id) {
            <mat-chip class="scaled-chip">
              @if (tech.icon) {
                <img
                  matChipAvatar
                  [src]="tech.icon | imageUrl"
                  [alt]="tech.name"
                />
              }
              {{ tech.name }}
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    }

    @if (links && links.length > 0) {
      <div class="project-column">
        <h4 style="font:  var(--mat-sys-title-large);" i18n="@@links">
          Links:
        </h4>
        @for (link of links; track link.url) {
          <a [href]="link.url" matFab extended>
            @if (link.mat_icon) {
              <mat-icon>{{ link.mat_icon }}</mat-icon>
            }
            {{ link.name }}
          </a>
        }
      </div>
    }

    @if (skills && skills.length > 0) {
      <div class="project-column">
        <h4 style="font:  var(--mat-sys-title-large);" i18n="@@skills">
          Skills:
        </h4>
        <mat-chip-set>
          @for (skill of skills; track skill.id) {
            <mat-chip class="scaled-chip">
              @if (skill.icon) {
                <img
                  matChipAvatar
                  [src]="skill.icon | imageUrl"
                  [alt]="skill.name"
                />
              }
              {{ skill.name }}
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    }
  </div>
  <div class="details-section-container">
    <markdown [data]="description" class="markdown-fonts"></markdown>
  </div>
  @if (screenshots) {
    <div class="details-section-container">
      <app-screenshots-section [screenshots]="screenshots"></app-screenshots-section>
    </div>
  }
</section>
<app-contact-section></app-contact-section>
