@use '@angular/material' as mat;

@include mat.core();

.scaled-chip img {
  border-radius: 0;
}

.mat-mdc-chip-avatar img,
.mat-mdc-standard-chip img[matChipAvatar] {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or cover, depending on your design */
  aspect-ratio: 1 / 1; /* critical for Safari */
  border-radius: 0; /* your existing style */
}

.project-details-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
}

.details-section-container {
  max-width: 1400px;
  width: 100%;
}


.project-column {
  flex: 1 1 50%;
  min-width: 320px;
  max-width: 40%;
  box-sizing: border-box;
}


