.btn-social {
  background-color: var(--mat-sys-primary-container);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: right;
}
