<div class="showcase-section">
  @if (projects().length > 0) {
    <div class="container">
      @for (project of projects(); track project.id) {
        <app-project-item class="flex-item" [project]="project"></app-project-item>
      }
    </div>
  } @else {
    @if (projects().length === 0) {
      <li>No items</li>
    } @else {
      <li>Loading…</li>
    }
  }
  <div class="button-margins">
    <a extended matFab routerLink="projects">
      <mat-icon>workspaces</mat-icon>
      <p>View All Projects</p>
    </a>
  </div>
</div>


