<div class="showcase-section">
  @if (projects().length > 0) {
    <div class="container">
      @for (project of projects(); track project.id) {
        <app-item-card class="flex-item"
                       [title]="project.title"
                       [thumbnail]="project.thumbnail"
                       [routerLink]="['/project', project.id]">

          <div content>
            <p>{{ project.shortDesc }}</p>
          </div>

          @if (project.technologies.length > 0) {
            <div footer>
              <mat-chip-set class="technologies-footer">
                @for (technology of project.technologies; track technology.id) {
                  <mat-chip>
                    <img
                      style="border-radius: 0"
                      matChipAvatar
                      [src]="technology.icon | imageUrl"
                      [alt]="technology.name"
                    />
                    {{ technology.name }}
                  </mat-chip>
                }
              </mat-chip-set>
            </div>
          }
        </app-item-card>
      }
    </div>
  } @else {
    @if (projects().length === 0) {
      <li>No items</li>
    } @else {
      <li>Loading…</li>
    }
  }
  <div class="button-margins">
    <a extended matFab routerLink="projects">
      <mat-icon>workspaces</mat-icon>
      <p>View All Projects</p>
    </a>
  </div>
</div>


