@if (mode === 'dropdown') {
<div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-sm gap-1 rounded-full" (click)="$event.stopPropagation()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {{ getCurrentLanguage() }}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
    </div>
    <ul tabindex="0" class="dropdown-content menu bg-base-300 text-white rounded-xl z-[1] w-48 p-2 shadow-lg">
        @for (lang of languagesOptions; track lang.code) {
        <li>
            <a [href]="lang.url" [title]="lang.label" class="text-sm">
                {{ lang.label }}
            </a>
        </li>
        }
    </ul>
</div>
} @else {
<div class="py-2">
    <div class="flex flex-col gap-1">
        @for (lang of languagesOptions; track lang.code) {
        <a [href]="lang.url"
            class="flex items-center justify-between px-3 py-2 rounded-lg text-sm transition-colors hover:bg-white/5"
            [class.text-primary]="lang.code === locale" [class.bg-primary/5]="lang.code === locale">
            <span>{{ lang.label }}</span>
            @if (lang.code === locale) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
            </svg>
            }
        </a>
        }
    </div>
</div>
}