<div class="showcase-section">
  @if (jobs().length > 0) {
    <div class="container">
      @for (job of jobs(); track job.id) {
        <app-job-item class="flex-item" [job]="job"></app-job-item>
      }
    </div>
  } @else {
    @if (jobs().length === 0) {
      <li>No items</li>
    } @else {
      <li>Loading…</li>
    }
  }

  <!--  <div class="button-margins">-->
  <!--    <a extended matFab routerLink="projects">-->
  <!--      <mat-icon>workspaces</mat-icon>-->
  <!--      <p>View All Realizations</p>-->
  <!--    </a>-->
  <!--  </div>-->

</div>

