@if (project(); as proj) {
  <app-hero-section
    [cardTitle]=proj.title
    [cardSubtitle]="''"
    [cardImage]="proj.thumbnail | imageUrl"
  >

  </app-hero-section>

  <section class="showcase-section">
    <div class="project-details-container">
      <div class="project-column">
        <h2 style="font: var(--mat-sys-headline-medium);">
          Technologies used:
        </h2>
        <mat-chip-set>
          @for (tech of proj.technologies; track tech.id) {
            <mat-chip class="scaled-chip">
              <img
                matChipAvatar
                [src]="tech.icon | imageUrl"
                [alt]="tech.name"
              />
              {{ tech.name }}
            </mat-chip>
          }
        </mat-chip-set>
      </div>
      <div class="project-column">
        <h2 style="font: var(--mat-sys-headline-medium);">
          Links:
        </h2>
        @if (proj.repoUrl) {
          <a [href]="proj.repoUrl" matFab extended>
            <mat-icon>commit</mat-icon>
            Project Repository
          </a>
        }
      </div>
    </div>
    <div class="details-section-container">
      <markdown class="markdown-fonts" [data]="proj.description"></markdown>
    </div>
    <div class="details-section-container">
      <app-screenshots-section [screenshots]="proj.screenshots"></app-screenshots-section>
    </div>
  </section>
} @else {
  <div>
    <p>Loading project...</p>
  </div>
}
