<a [routerLink]="['/project', project.id]"
  class="card bg-base-100 image-full shadow-2xl hover:shadow-2xl hover:-translate-y-2 h-full min-h-64 overflow-hidden">
  @if (project.thumbnail) {
  <figure>
    <img [alt]="project.title" [src]="project.thumbnail | imageUrl" />
  </figure>
  }
  <div class="card-body before:absolute before:inset-0 before:bg-black/60 before:-z-10">
    <h3 class="card-title">{{ project.title }}</h3>
    <p class="text-lg">{{ project.shortDesc }}</p>
    <div class="flex gap-2 flex-wrap mt-4">
      @for (technology of project.technologies; track technology.id) {
      <div class="badge badge-accent badge-outline">{{ technology.name }}</div>
      }
    </div>
    <div class="card-actions justify-end mt-auto">
      @if (project.liveUrl) {
      <a [href]="project.liveUrl" class="btn btn-primary" rel="noopener noreferrer" target="_blank"
        i18n="@@projectItem.btn.viewLive">View Live</a>
      }
    </div>
  </div>
</a>