<app-item-card
  [routerLink]="['/project', project.id]"
  [thumbnail]="project.thumbnail"
  [title]="project.title">

  <div content>
    <p>{{ project.shortDesc }}</p>
  </div>

  @if (project.technologies.length > 0) {
    <div footer>
      <mat-chip-set class="technologies-footer">
        @for (technology of project.technologies; track technology.id) {
          <mat-chip>
            <img
              style="border-radius: 0;  display: block;"
              matChipAvatar
              [src]="technology.icon | imageUrl"
              [alt]="technology.name"
            />
            {{ technology.name }}
          </mat-chip>
        }
      </mat-chip-set>
    </div>
  }
</app-item-card>
