<div class="flex flex-row flex-wrap justify-center gap-4">
    @for (item of getItems(); track $index) {
    @if (variant === 'default') {
    <app-loading-card
        class="flex-1 min-w-full md:min-w-[calc(50%-0.5rem)] lg:min-w-[calc(33.333%-0.67rem)] md:max-w-[calc(50%-0.5rem)] lg:max-w-[calc(33.333%-0.67rem)]"></app-loading-card>
    } @else if (variant === 'cover') {
    <app-loading-card-cover
        class="flex-1 min-w-full md:min-w-[calc(50%-0.5rem)] lg:min-w-[calc(33.333%-0.67rem)] md:max-w-[calc(50%-0.5rem)] lg:max-w-[calc(33.333%-0.67rem)]"></app-loading-card-cover>
    }
    }
</div>