.page {
  display: grid;
  place-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: padding 0.4s ease-in-out;
}

@media (max-width: 1400px) {
  .page {
    padding-top: 0;
    padding-bottom: 0;
  }
}
