/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--toolbar-height);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --toolbar-height: 64px;
}

@media (max-width: 600px) {
  :root {
    --toolbar-height: 56px;
  }
}
