<!-- Technologies Section -->
@if (technologies() && technologies().length > 0) {
<div class="card bg-base-100 shadow-xl border border-base-300 mb-8">
    <div class="card-body">
        <h2 class="card-title text-2xl">{{ title() }}</h2>
        <div class="flex gap-2 flex-wrap mt-4">
            @for (technology of technologies(); track technology.id) {
            <div class="badge badge-accent badge-lg gap-2">
                @if (technology.icon) {
                <img [alt]="technology.name" [src]="technology.icon | imageUrl" class="w-4 h-4" />
                }
                {{ technology.name }}
            </div>
            }
        </div>
    </div>
</div>
}