@use '@angular/material' as mat;

.item {
  cursor: pointer;
  &:hover {
    @include mat.elevation(8);
  }

  transition: box-shadow 0.3s ease;
}

mat-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-shrink: 1;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 500px) {
  mat-card {
    width: 300px;
  }
}

mat-card-content {
  flex: 1 1 auto;
}

mat-card-footer {
  margin-top: auto;
}

mat-chip-set {
  min-height: 80px;
}

mat-card {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-surface);
}
