@use '@angular/material' as mat;

.item {
  cursor: pointer;
  min-height: 600px;
  &:hover {
    @include mat.elevation(8);
  }

  transition: box-shadow 0.3s ease;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-content {
  flex: 1 1 auto;
}

mat-card-footer {
  margin-top: auto;
}

mat-chip-set {
  min-height: 80px;
}

mat-card {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-surface);
}
